html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 150%; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* A4 and A3 */
@media print and (max-width: 29.7cm) and (max-height: 42cm) and (orientation: portrait) {
  @page:left {
	margin: 2cm 4cm 3cm 3cm;
  }
  @page:right {
	margin: 2cm 4cm 3cm 3cm;
  }
}

html, body { background: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
@media screen {
  body { max-width: 1280px; margin: 50px; }
}
body, p { line-height: 150%; }
p { margin: 0 0 1em 0; }
a { color: #005588; text-decoration: none; }
sup, sub { font-size: smaller; vertical-align: super; }
sub { vertical-align: sub; }

/*img { border: solid 1px #000; display: block; page-break-inside: avoid; padding: 0; }*/

h1, h2, h3, h4, h5, h6 { clear: both; letter-spacing: normal; line-height: 1em; page-break-after: avoid; page-break-before: auto; }
h1 { font-size: 300%; line-height: 300%; margin-bottom: -0.75em; margin-top: 0;}
h2 { font-size: 200%; line-height: 200%; margin-top: -0.25em; }
h3 { font-size: 150%; line-height: 150%; margin-bottom: 0.5em; }
h4 { font-size: 125%; line-height: 125%; margin-bottom: 1em; margin-top: 1.25em; }
h5 { font-size: 110%; line-height: 110%; margin-bottom: 1.2em; margin-top: 1.5em; }
h6 { font-size: 80%; line-height: 80%; margin-bottom: 2em; margin-top: 2.5em; }

h1 a{
	color: #000 !important;
}
/*a:link:after, a:visited:after { content:" [" attr(href) "] "; }*/

ul, ol, ul li, ol li { /*margin-left: 1em;*/ }
ol li { list-style-type: decimal; }
ul li { list-style-type: none; }
hr { border: 0; border-bottom: solid 1pt #ccc; height: 1pt; }

/*fieldset { border: solid 1pt #ccc; border-radius: 0.5em; margin: 1em; padding: 1em; }
fieldset legend { padding: 0 0.5em; font-size: 150% }*/
label { color: #666; display: block; font-size: 80%; margin: 0; }

input[type="tel"], input[type="search"], input[type="url"], input[type="email"], input[type="datetime"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime-local"], input[type="number"], textarea { border: solid 1pt #999; color: #666; padding: 0.25em; }
select { border: solid 1pt #999; color: #666; }
input[type="button"], input[type="reset"], input[type="submit"], button, .button { font-family: Arial, Helvetica, sans-serif; font-size: 120%; font-weight: bold; padding: 0.5em 1em; }

table { margin: 0 0 1em 0; width: 80% }
td, th { border-bottom: solid 1pt #000; padding: 0.25em; }
th, thead td { border-bottom: solid 3pt #000; font-size: 120%; font-weight: bold; text-align: left; }
code, pre { border-left: solid 1pt #ccc; font-family: "Courier New", Courier, monospace !important; display: block; margin: 1em; max-width: 80%; padding-left: 1em; white-space: pre-wrap; white-space: -moz-pre-wrap; /* FF */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ word-wrap: break-word; /* IE */ }

blockquote, q { border-left: solid 1pt #ccc; display: block; font-size: 120%; font-weight: bold; margin-left: 0.65em; max-width: 80%; padding: 1em; quotes: none; }
blockquote p { margin-left: 1em; margin-right: 5em; }
blockquote:before, q:before { color: #999; content: "\201C"; font-size: 300%; }
blockquote:after, q:after { content:" \2014\0000a0" attr(cite); display: block; font-size: 100%; font-style: italic; font-weight: normal; text-align: right; }
blockquote, blockquote:before, code, fieldset, form, ol, pre, q:before, table, ul { page-break-inside: avoid; }

.searchWrap {
	display: none;
}

h1 {
	font-size: 20px;
	color: #000 !important;
}

h2 {
	font-size: 18px;
	color: #000 !important;
}

h3 {
	font-size: 16px;
	color: #000 !important;
}

p {
	font-size: 12px;
	color:#282828 !important;
}

.footer{
	margin:1cm 0 0 0;
	width:100%;
	clear:both;
}
.expert-blog-list .text-block{
	margin-bottom:1cm;
}

.supplier-guide-list .text-block{
	float:left;
	width:60%;
	margin-bottom:1cm;
}
.supplier-guide-list .info-block{
	float:left;
	width:40%;
	margin-bottom:1cm;
}
.supplier-guide-list  .info-block p{
	line-height: 70%;
}
	

.main-sponsor, .ad,.article-action,.image p, .img-con p, .pagination, .most-read, .part-of-paragraph, .part-of-network form, .login, .secondary-nav .nav, .primary-nav, .breadcrumb, .social-menu, .ad-list, .newsletter-signup, .box-slideshow-content, img, .comment-form, .other-companies, .find-box{
  display:none;
}

.logo img {
	display: block;
}


.facts {
	margin-bottom: 10px;
}
	.facts h4 {
		font-size: 14px !important;
		margin-bottom: 0px !important;
	}


.footer {

}

.footerContent p {
	font-size: 11px;
	margin-bottom: 2px;
}

.footer .payoff {
	font-size: 11px;
}

.further-reading {
	border-top: 1px dotted #282828;
	margin-top: 15px;
}
	.further-reading h5 {
		margin-bottom: 5px !important;
		font-size: 14px;
	}
	.further-reading .tag,
	.further-reading .date {
		font-size: 11px !important;
	}
	
.article-content strong {
	font-weight:bold;
	font-weight: 900 !important;
}

.page-statistics {
}
	.page-statistics body.admin-menu {
		margin-top: 0px !important;
	}
	.page-statistics .main-container {
	}
		.page-statistics .main-container .c100,
		.page-statistics .main-container .ad-list {
			display: none;
		}
		.page-statistics .main-container .header {
			display: block;
		}
			.page-statistics .main-container .header > div { display: none; }
			.page-statistics .main-container .header .secondary-nav { display: block; }
			.page-statistics .main-container .header .secondary-nav > div { display: none; }
			.page-statistics .main-container .header .secondary-nav .logo { display: block; }

		.page-statistics .main-container .content {
			display: block;
		}
			.page-statistics .main-container .content h1,
			.page-statistics .main-container .content .editSectionText,
			.page-statistics .main-container .content .tabs,
			.page-statistics .main-container .content .actionButton,
			.page-statistics .main-container .content .print {
				display: none;
			}
			.page-statistics .main-container .content .tabContainer {
				padding: 0 20px;
			}
			.page-statistics .main-container .content .box {
				border: 0;
				margin: 0;
			}
				.page-statistics .main-container .content .box .inner.special {
					border: 0;
				}
			.page-statistics .main-container .content .bd {
				padding: 20px 0 0;
			}
			.page-statistics .main-container .content .hd {
				background: none;
				overflow: auto;
				height: auto;
			}
			.page-statistics .main-container .content .container-activities,
			.page-statistics .main-container .content .container-bic,
			.page-statistics .main-container .content .container-graphs .container-group,
			.page-statistics .main-container .content form {
				page-break-after: always;
			}
			.page-statistics .main-container .content .container-graphs .container-group:last-child {
				page-break-after: auto;
			}
