/*
 * @file
 * Print Styles
 * This probably needs work, but it's a good starting point.
 */
/*
 * Body
 */
body {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: none;
  font-size: 11px;
}

/*
 * Links
 */
a {
  background: transparent;
  /*font-weight: 700;*/
  /*text-decoration: underline;*/
  /*color: #0000ee;*/
}
a[href^="http://"]:after, a[href^="http://"]:visited:after {
  content: "(" attr(href) ")";
  font-size: 10pt;
}

/*
 * Strip background from likely candidates
 */
div[id*="wrapper"],
/*[class*="title"],*/
[class*="inner"],
header,
footer,
#branding,
#container,
#columns,
.columns-inner,
#content-column,
.content-inner,
.region,
.region-header,
.region-content,
.article,
.article-title,
.article-content,
.comment,
.comment-title,
.comment-content,
.block,
.block-inner,
.block-title,
.block-content,
table {
  background: none !important;
}

/*
 * Hide various bits of the page, .noprint reusable class for hiding stuff.
 */
.noprint,
.sidebar,
#breadcrumb,
.nav,
.field-type-taxonomy-term-reference,
ul.links,
.feed-icon,
.poll .bar,
.poll .foreground,
.comment-form,
#comment-form,
.book-navigation,
.tabs,
.action-links,
.pager,
.messages,
.help {
  display: none;
}

.custom-title h2 {
  font-size: 1.7em;
}
#top_nav_bar {
  background: none;
  position: relative;
}
#branding {
  position: relative;
  margin: 0;
}
.page-statistik .region-tertiary-content,
.page-statistik #pre-footer,
.page-statistik #block-db-common-footer-content,
.page-statistik ul.tabs,
.page-statistik #main-navigation,
.page-statistik #top_nav_bar .region,
.page-statistik .editSectionText,
.page-statistik .tabContainer > .custom-title,
.page-statistik h1,
.page-statistik #edit-actions,
.page-statistik  .aButtonNew,
#block-newsletter-newsletter-signup,
#block-db-common-copyright,
.jq-selectbox__trigger {
  display: none !important;
}

.page-statistik .custom-title {
  padding: 10px 10px;
  margin: 0 0 10px 0;
  clear: both;
}
.statistics .container-group .container-graph {
  width: 46%;
  margin-right: 3%;
}
.statistics #supplier-statistics-selection-form .wrapper-fielset {
  width: 100%;
  float:none;
}
.statistics #supplier-statistics-selection-form .container-inline-date {
  float: left;
  display: block;
  clear: none;
}
.page-statistik .tabContainer {
  padding-top: 0; 
}
.page-statistik #page {
   padding-top: 0; 
}
.eventWhenWhere:after, .pane-title:after,
.custom-title .content-title:after {
  left: 10px;
  border: 15px solid transparent;
  bottom: -30px;
  display: block;
  border-top-color: #f3f3f3;
  display:  none;
}
.jq-selectbox {
  display: block !important;
}

.page-statistik .container-activities,
.page-statistik .container-bic,
.page-statistik .container-graphs .container-group,
.page-statistik form {
  page-break-after: always;
}
.page-statistik .container-graphs .container-group:last-child {
  page-break-after: auto;
}