/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the body font size on small touch devices */
/*body {
  font-size: 100%;
}*/

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */

body {
  padding-top: 0;
}
/* The toggle link */
.at-mt .at-menu-toggle h2 {
  margin-bottom: 5px;
}

.at-mt .at-menu-toggle h2 a {
  background: #eee;
  border: 2px solid #ccc;
  padding: 2px 10px;
}

/* Menu items */
.at-mt .at-menu-toggle ul.menu li a {
  background: #eee;
  border-bottom: 1px solid #fff;
}
.related-content .mod.box.ad-list,
#block-newsletter-newsletter-signup,
#block-db-common-login-button,
#block-db-common-custom-search-form,
#block-db-common-right-top-navigation li.last,
.related-content .views-field-field-teaser,
.pane-sidebar-blocks-company-fact-box,
.view-display-id-content_from_company,
.views-exposed-form,
.brands-company .views-field-field-products,
.pane-jobs-job-googlemaps-block-company,
.content-title .right-link,
.view-latest-news .comments-count,
.pane-taxonomy-menu-taxonomy-menu ul.category-menu {
  display: none !important;
}
#main-navigation .block-content {
  margin: 0;
}
#main-navigation {
  position: absolute;
}
h1,
h1 a {
  font-size: 30px;
  line-height: 32px;
  margin: 0 0 20px 0;  
}

/* --- header --- */
#block-db-common-right-top-navigation ul li {
  margin-right: 0;
}
#block-db-common-left-menu-link #left-menu-link {
  font-size: 0px;
}
#branding {
  width: 125px;
  top: 10px;
}
#main-navigation .block-content {
  margin: 0;
}

#top_nav_bar #block-db-common-left-menu-link {
  float: right;
}
#block-db-common-left-menu-link #left-menu-link {
  padding-left: 70px;
}
#top_nav_bar .block-content {
  margin: 0;
}
#top_nav_bar .block {
  float: left;
}
#block-db-common-right-top-navigation ul li a {
  margin-left: 8px;
}

/* --- end header --- */

/* --- footer --- */
#block-db-common-footer-content .payoff  {
   
}
#block-carousel-carousel {
  display: none;
}
#pre-footer .region,
#footer #block-db-common-footer-content {
  padding: 16px 16px 3px 16px;
}
#pre-footer .block-content,
#footer #block-db-common-footer-content .block-content {
  margin: 0;
}
#pre-footer .block-content ul {
  margin: 0;
  padding: 0;
}
#pre-footer .block {
  margin-bottom: 17px;
  float: none !important;
}
#pre-footer .scroll_to_top {
  display: inline;
}
#pre-footer #block-db-common-scroll-to-top {
  float: left;
  padding-bottom: 30px;
}
#pre-footer .block-menu-block li {
  padding-right: 8px;
  margin-left: 8px;
}
#block-db-common-footer-content .logo {
  position: relative;
  top: auto;
  right: auto;
  margin-bottom: 17px;
}
.footerContent .footerBlock {
  margin-bottom: 45px;
}
.footerContent .footerBlock p:first-child {
  margin-bottom: 0px;
  font-weight: bold;
}

/* --- mods --- */
.mod.quote {
  padding-top: 10px;
}
.mod.quote .bd, 
.mod.quote p {
  font-size: 20px;
  line-height: 22px;
}
.mod.quote .bd {
  padding-top: 5px;
}
.mod.quote .source {
  font-size: 18px; 
}
.mod.quote {
  width: 209px;
  margin: 0 auto 20px;
}
.mod.image {
  width: 100%;
}
.mod.facts {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}
.mod.facts h4 {
  font-size: 15px;
  padding: 16px 17px;
}
/* --- end mods --- */

/* --- node ---*/
div.panel-pane div.node,
#content .node,
.block-content {
  margin: 0 8px;
}
#content div.panel-pane  .block-content .node,
#content .block-content .node{
  margin: 0;
}
.region-two-66-33-top .block-content {
  margin: 0;
}
.node.node-full {
  font-size: 14px;
}
.title-prefix {
  font-size: 12px;  
} 
.title-suffix,
.node .field-name-field-byline {
  font-size: 13px; 
  margin-bottom: 20px;
}
.node .field-name-field-logo {
  margin: 0;
  float: none;
  text-align: center;
  margin-bottom: 20px;
}
.node .eventWhenWhere {
  margin-bottom: 20px;
}
.title-suffix,
.node .field-name-field-byline {
  color: #666666;
  margin-bottom: 20px;
}
.node .filed-teaser, 
.node-type-product-news .field-name-field-teaser {
  font-size: 15px;  
  line-height: 20px;
}
.node-job .group-top-line .field {
  float: none;
  display: block;
  margin: 0;
}
.node-job .group-top-line .field-name-field-www {
  padding-top: 0;
}
.node .eventWhenWhere {
  height: auto;
  padding: 0;
}
.node .field-name-field-logo.mobile {
  margin-bottom: 0;
  padding: 20px 0;
  background: #f6f6f6;
}
.node .eventWhenWhere ul {
  padding: 0;
}
.node .eventWhenWhere:after{
  display: none;
}
.node .eventWhenWhere ul li,
.node .eventWhenWhere ul li span {
  display: block;
  float: none;
}
.node .eventWhenWhere ul li span,
.node .eventWhenWhere ul li:last-child,
.node-job .field-name-field-jobtitle,
.node-job .field-name-field-applicationdeadline {
  padding: 10px 15px;
}
.node .eventWhenWhere ul li span,
.node-job .field-name-field-jobtitle,
.node-job .field-name-field-applicationdeadline {
  border-bottom: 1px #fff solid;
  margin: 0;
}
.node .eventWhenWhere .fa {
  color: #cccccc;
}
.node .form-text {
  padding: 10px 0;
  text-indent: 5px;
  width: 100%;
} 
.gray-plus {
  position: relative;
  background: #526688;
  color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-align: center;
  padding: 0;
}

.left-share-block {
  position: relative;
  padding-bottom: 20px;
  width: auto;
}
.left-share-block .item,
.left-share-block .comment-count {
  background: #fff;
  padding: 0;
  width: auto;
  display: block;
  text-align: left;
  float: left;
  margin-right: 20px;
}
.left-share-block .item a,
.left-share-block .comment-count a {
  color: #ccc;
  display: inline-block;
}
.flag-outer-my-designbase {
  padding: 0;
  line-height: 24px;
}
.left-share-block .comment-count a {
  position: relative;
  padding: 0;
  top: 0;
  margin: 0;
  display: inline;
  line-height: 24px;
}
.left-share-block .comment-count {
  color: #ccc;
  height: auto;
  font-size: 24px;
  line-height: 24px;
  padding-top: 4px;
}
.left-share-block .comment-count .fa-comment {
  margin-right: 5px;
}
.left-share-block .item.add-this {
  float: right;
}
.left-share-block .item.add-this,
.left-share-block .flag-my-designbase {
  padding: 0;
}
.left-share-block .field-name-field-add-this {
  padding: 0;
  height: 30px;
  width: 30px;
  background: url('../images/icons.png') no-repeat 0 -450px;
  background: none;
}
.left-share-block .field-name-field-add-this .field-items {
  display: none;
}
.left-share-block .field-name-field-add-this.open .field-items {
  display: block;
}
.left-share-block .item.add-this {
  margin: 0;
  padding-top: 5px;
}
.left-share-block .field-name-field-add-this.open .field-items {
  right: auto;
  left: -260px;
  top: -15px;
}
.left-share-block .addthis_toolbox a .at4-icon, 
.left-share-block .addthis_toolbox a .at_PinItButton {
  overflow: hidden !important;
}
.left-share-block .field-name-field-add-this .share-open {
/*  display: none;*/
  font-size: 27px;
  line-height: 28px;
}
/* --- end node ---*/
.view-showroom .views-row {
  margin-left: 0;
  width: 100%;
}
.view-showroom .view-content {
  width: 100%;
  margin-left: 0;
}  
.view-showroom .views-field-field-profile-picture {
  width: 150px;
  overflow: hidden;
  height: 200px;
}
.view-showroom .views-field-field-description {
  min-height: 85px;
}
.view-showroom .views-field-field-profile-picture img {
  max-width: none;
  margin-left: -15px;
  display: block;
}
.view-showroom .right-part {
  padding-bottom: 20px;
}
.view-display-id-related_articles {
  padding-top: 20px;  
}
.view-showroom .profile-link {
  bottom: 10px;
  left: 160px;
}

.block-slider-carousel {
  background: #f3f3f3;
}
.block-slider-carousel .rs-carousel .rs-carousel-item {
  position: relative;
  padding-right: 5px;
  padding-left: 0;
}
.block-slider-carousel .rs-carousel {
    width: 100%;
}
.block-slider-carousel .rs-carousel .rs-carousel-mask {
    overflow: hidden;
    width: 100%;
    padding-left: 0px;
}

.view-id-indsustry_news_block .view-content {
  margin: 0;
  width: 100%;
}

.rs-carousel-action {
  font-size: 24px;
  line-height: 26px;
  top: 100px;
  width: 30px;
  padding: 5px 0;
}
.image-description {
  position: absolute;
  z-index: 1;
  right: 5px;
  bottom: 0;
}
.image-description .image-title {
  left: -215px;
  bottom: 100px;
}
.image-description .image-title:after  {
  display: none;
}
.block-mansory-slider {
  width: 100%;
  margin-left: 0;
  overflow: hidden;
}
.block-mansory-slider li,
.block-mansory-slider .slide,
.block-mansory-slider .rs-carousel,
.block-mansory-slider .rs-carousel-mask {
  width: 100%;
  max-width: 320px;
}
.block-mansory-slider li {
  float: left;
}
.block-mansory-slider .rs-carousel-action-next {
  right: 0px;
}
.block-mansory-slider .image-description .image-title {
  bottom: 65px;
}
.block-mansory-slider .rs-carousel-item-active .image-description {
  bottom: 0;
}
/* --- job --- */

.frontpage-jobs .group-top {
  float: none;
  border: none;
  width: 100%;
  margin-bottom: 15px;
}
.frontpage-jobs.view-display-id-block .field-name-field-applicationdeadline, 
.frontpage-jobs.view-display-id-block .field-name-field-job-geo {
  font-size: 10px;
}
.frontpage-jobs .custom-title .right-link {
  display: none;
}
.frontpage-jobs .field-name-field-jobteaser {
  display: none;
}
.frontpage-jobs .views-row {
  border-bottom: 1px #f6f6f6 solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.frontpage-jobs .views-row-last {
  border: none;
}
.frontpage-jobs .field-name-field-applicationdeadline {
  margin-right: 10px;
}
.frontpage-jobs .field-name-field-logo {
  width: 100px;
}
.frontpage-jobs .group-right {
  margin: 0;
}
.frontpage-jobs .node-job .field-name-field-applicationdeadline {
  padding: 0;
}
/* --- end job --- */

.view-frontpage-events.view-display-id-default .field {
  margin-bottom: 5px;
}
.event-page-view .views-field-field-logo + .content-right {
  margin-left: 0;
}
.brands-company .views-row-last {
  border: none;
  padding-bottom: 0;
  margin: 0;
}
.brands-company .views-field-field-profile-picture {
  width: 23%;
  margin: 0 0 10px 0;
}
.brands-company .right-part {
  margin-left: 27%;
}
.brands-company .views-field-field-url {
  margin-left: 0;
}
.brands-company .views-field-field-url, 
.brands-company .views-field-field-products, 
.brands-company .views-field-field-description {
  margin-left: 0;
}
.brands-company .views-field-field-url {
  margin: 0;
}
.view-latest-news .views-row {
  width: 48%;
}
.view-latest-news .view-mode-quote,
.view-latest-news .field-name-field-byline,
.view-latest-news .field-name-field-teaser {
  display: none;
}
.view-latest-news div.panel-pane div.node, 
.view-latest-news .node {
  margin: 0 !important;
}
.view-latest-news .field-name-field-headline {
  padding-bottom: 20px;
  border-bottom: 1px #e0e0e0 solid;
}
.view-latest-news .flag-outer-my-designbase {
  bottom: 5px !important;
  left: 5px;
  right: auto;
  top: auto;
  background: none;
  padding: 0;
  border: none;
}
.view-latest-news .field-name-field-add-this {
  bottom: 33px;
  right: 1px;
  left: auto;
  top: auto;
  height: 0;
  padding-top: 0px;
  background: none;
} 
.view-latest-news .node-article .field-name-field-add-this {
  bottom: 33px;
  
}
.field-name-field-add-this .share-open {
  background: none;
  color: #ccc;
  top: 0;
  padding: 0;
}
.view-latest-news .field-name-field-add-this .field-items {
  visibility: hidden;
}
.field-name-field-add-this.open .field-items {
  bottom: 2px;
}
.view-latest-news .addthis_toolbox a:last-child span,
.view-latest-news .addthis_toolbox .addthis_button_email  span {
  border-bottom: 0px;
}
.field-name-field-add-this.open .share-open {
  background: none;
}
.view-latest-news .field-name-field-add-this.open .field-items {
  visibility: visible;
}
.view-latest-news .flag-outer, 
.view-latest-news .flag-my-designbase {
  background: none;
}
.view-latest-news .flag-outer-my-designbase a {
  color: #cccccc;
}
.view-latest-news .views-row.view-row-article {
  width: 100%;
}
.view-latest-news .node-article .field-name-field-headline {
  border-bottom: 1px #ccc solid;
}
.view-latest-news .node-article .field-name-field-category {
  display: none;
}
.view-latest-news .field_content_type {
  font-size: 12px;
}
.field_indicate_sponsor_open {
  padding: 9px 0;
}
.view-latest-news .field-name-field-category {
  display: none;
}
.view-latest-news div.panel-pane div.node, 
.view-latest-news .node {
  padding-bottom: 15px !important;
}
.view-latest-news .node.view-mode-latest_news .counters-wrap {
  display: none;
}
/* --- parnter profile ---*/
.mobil-event .fa.fa-bookmark {
  display: inline;
}
.node-type-partner-profile .view-latest-news  .views-row {
  width: 48%;
}
.node-type-partner-profile .view.next-events .views-field-field-date, 
.node-type-partner-profile .view.next-events .views-field-field-location {
  display: block;
}
.mobil-event .views-field-title,
.mobil-event .mobile-event-row,
.node-type-partner-profile .pane-views.pane-partner-profile .block-content,
.node-type-partner-profile .group-contact .field-group-div,
.node-type-partner-profile .group-profile-text .field,
.mobil-event .views-field-field-logo {
  display: none;
}
.mobil-event .views-field-nothing,
.mobil-event .mobile-title,
.mobil-event .views-row.hover .mobile-event-row,
.node-type-partner-profile .pane-views.pane-partner-profile .hover .block-content,
.node-type-partner-profile .group-contact.hover .field-group-div,
.node-type-partner-profile .group-profile-text.hover .field {
  display: block;
}
.node-type-partner-profile .pane-views.pane-partner-profile .hover .block-content,
.node-type-partner-profile .group-contact.hover .field-group-div,
.node-type-partner-profile .group-profile-text.hover .field {
  padding-top: 20px; 
}
.node-type-partner-profile #content .region-two-66-33-second .pane-partner-profile  h2.pane-title, 
.node-type-partner-profile .node h2,
.mobil-event .mobile-title {
  background: url('../images/icons.png') 100% -66px no-repeat #f6f6f6;
  padding: 15px 0;
  margin: 0;
  max-height: 31px;
  font-size: 20px;
  color: #000;
  font-family: 'Playfair Display', serif;
  padding-right: 50px;
  padding-left: 10px;
}
.node-type-partner-profile #content .region-two-66-33-second .pane-partner-profile  h2.pane-title:after, 
.node-type-partner-profile .node h2:after,
.node-type-partner-profile .mobile-title:after {
  display: none;
}
.node-type-partner-profile .mobile-title {
  overflow: hidden;
}
.node-type-partner-profile .field-group-div.hover h2,
.node-type-partner-profile #content .region-two-66-33-second .pane-partner-profile .hover h2.pane-title,
.node-type-partner-profile .pane-views.pane-partner-profile .hover h2.pane-title,
.mobil-event .views-row.hover .mobile-title {
  background: url('../images/icons.png') 100% -180px no-repeat #e6e5e5;
}
.node-type-partner-profile .region-two-66-33-second .pane-node-content .block-inner {
  background: none;
}
.node-type-partner-profile .region-two-66-33-second .pane-node-content .block-content {
  background: #f6f6f6;
}
.node-type-partner-profile div.panel-pane div.node, 
.node-type-partner-profile .node,
.node-type-partner-profile .panel-pane.pane-node-content,
.node-type-partner-profile .pane-views.pane-partner-profile .block-content {
  margin: 0;
}
.node-partner-profile .group-profile-text,
.node-partner-profile .field-group-div {
  border: none;
  padding-bottom: 0;
  border-bottom: 1px #fff solid;
}
.node-partner-profile .field-group-div .field-group-div {
  border: none;
}
.node-type-partner-profile .pane-views.pane-partner-profile {
  margin: 0 8px 30px;
}
.node-type-partner-profile .pane-node-content h2.pane-title {
  display: block;
}
.node-type-partner-profile .region-two-66-33-second .block-inner {
  background: none;
}
.node-type-partner-profile .region-two-66-33-second .block-content {
  background: #f6f6f6;
}
.mobil-event .view-content {
  padding: 0;
}
.mobil-event .view-content {
  background: #f6f6f6;
}
.mobil-event .views-field {
  border-bottom: 1px #fff solid;
  padding: 11px 10px;
}
.view.next-events .views-field-field-date, 
.view.next-events .views-field-field-location {
  display: block;
  margin: 0;
}
.mobil-event .mobile-title span,
.mobil-event .mobile-title div {
  display: block;
  overflow: hidden;
  max-height: 30px;
}
.mobil-event .views-field-field-headline,
.mobil-event .views-field-field-companyname,
.mobil-event .views-field-field-jobteaser {
  display: none;
}
.newest-jobs.mobil-event .views-row {
  padding: 0;
  margin: 0;
  border-color: #fff;
}
.view.next-events.mobil-event .views-row {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 1px #fff solid;
}
.view.next-events.mobil-event .were-when {
  float: none;
}
.mobil-event  .views-field-nothing {
  background-color:  #526688;
    padding: 10px;
}
.mobil-event  .views-field-nothing a,
.link-more.mobile-field a {
  text-transform: uppercase;
  background-color:  #526688;
  color: #fff;
  text-align: center;
  display: block;
  font-size: 12px;
  padding: 5px 0;
}
.mobil-event .view-footer {
  border-top: 2px #eee solid;
  margin-top: 10px;
}

.frontpage-jobs .right-part {
  margin: 0
}
.node-type-partner-profile .view-jobs .views-field-field-applicationdeadline, 
.node-type-partner-profile .view-jobs .views-field-field-job-geo {
  display: block;
  margin: 0;
}
.frontpage-jobs .top-line {
  padding: 0;
  margin: 0;
  border: none;
}
.frontpage-jobs .view-content {
  border: none;
}
.view.next-events .views-field-field-event-type {
  margin: 0;
}

.view-partner-profile .views-field-field-logo .field-content,
.view-partner-profile .image-cont {
  height: auto; 
}
.view-partner-profile .views-field-field-image + .views-field-field-logo {
  margin-top: -50px;
}
/* --- end parnter profile ---*/
.view.next-events .views-field-title {
  margin: 0;
  padding: 20px 10px;
}

.view-gallery .views-row {
  width: 48%;
}
.event-page-view .views-row {
  padding: 20px 0 0 0;
}
.event-page-view .views-field,
.event-page-view .views-field div{
  display: block;
  margin: 0;
}
.event-page-view .views-field-field-logo {
  float: none;
  margin: 0;
  text-align: center;
  max-width: none;
  margin-bottom: 20px;
}
.event-page-view .views-field{
  padding: 0 15px;
}
.event-page-view .desktop-filed {
  display: none;
}
.event-page-view .views-field-field-date,
.event-page-view .views-field-field-location,
.event-page-view .views-field-field-event-type,
.event-page-view .views-field-field-jobtitle,
.event-page-view .views-field-field-company {
  border-bottom: 1px #fff solid;
  padding: 10px 15px;
}
.event-page-view .views-field-field-company a {
  color: #666;
}
.event-page-view .fa {
  width: 25px;
  text-align: center;
}
.event-page-view .view-content .date {
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px #fff solid;
}
.event-page-view .views-field-field-teaser,
.event-page-view .views-field-field-jobteaser {
  margin-bottom: 5px;
}
.event-page-view .link-more.mobile-field {
  padding: 0;
}
.event-page-view .link-more a {
  padding: 10px 0;
}

.page-events .pane-showroom,
.page-events .custom-title .right-link,
.page-jobopslag .custom-title .right-link,
.page-jobopslag .pane-showroom {
  display: none;
}


/* --- most popular --- */
#quicktabs-popular {
  margin: 0;
  width: 100%;
}
#quicktabs-popular .item-list.item-list-q {
  display: none;
}
.pane-quicktabs-popular .block-content {
  padding-top: 20px;
}


/* --- user create --- */
#modalContent {
  left: 0 !important;
  right: 0 !important;
  width: 100%;
  height: auto !important;
  overflow: hidden;
}
#modalBackdrop,
#modal-content,
div.ctools-modal-content {
  width: 100% !important;
}
#modal-content,
div.ctools-modal-content {
  height: 100% !important;
}
.page-showroom-create {
  background: #fff;
  width: auto;
}
.page-showroom-create .node,
.page-showroom-create #user-register-form {
  width: auto;
  padding: 0;
  float: none;
}
div.ctools-modal-content .modal-content {
  padding: 0;
}
#login-form-button-content {
  width: 300px;
}
.bd .custom-list,
.ad-list {
  text-align: center;
  display: block;
  width: 100%;
}
.ds-2col > .group-left,
.ds-2col > .group-right {
  width: 100%;
  margin: 0;
}
.ds-2col > .group-right .field,
.ds-2col > .group-right form {
  margin-left: 0;
}
