/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable go to your theme settings and
 * look under the "CSS" settings tab.
 */

/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */

/*
 * Smalltouch sizes and up
 */
@media only screen and (min-width: 320px) {

} 

/*
 * Smalltouch sizes and down
 */
@media only screen and (max-width: 480px) {
/*  .mod {
    float: none !important;
    margin: 0 auto !important;
    width: 100% !important;
  }*/
  
  /* 
   * Float Region Blocks - custom media query CSS example:
   * 
   * Float regions blocks is an Extension you can enable in the appearance
   * settings for your theme. This feature allows you to automatically float
   * blocks in regions, you can switch it on and off depending on your
   * requirements. For design purposes you many want to remove the floats for
   * devices where the entire theme is just one column - for example small
   * mobile phones. The following CSS is inside the custom media query:
   *
   *   @media only screen and (max-width: 480px){}
   *
   * This will target devices with a maximum width of 480px - most small phones.
   * In these smaller screen sizes we can remove the float and widths so all
   * blocks stack instead of displaying horizonally. The selector used is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   */
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
}

/*
 * Tablet sizes and up
 */
/* @media only screen and (min-width: 768px) {} */

/*
 * Desktops/laptops and up
 */
@media only screen and (min-width: 1025px) {

  .panel-2col-stacked {
    max-width: 1130px;
    margin: 0 auto;
  }

  .two-66-33 > .region-two-66-33-second {
    width: 32%;
    float: right;
  }
  .two-66-33 > .region-two-66-33-first {
    width: 66%;  
    margin-right: 20px;
  }

}
@media only screen and (max-width: 681px) {
  .block-slider-carousel .rs-carousel {
    width: 100%;
  }
  .block-slider-carousel .rs-carousel .rs-carousel-mask {
    padding-left: 0;
  }
  .image-description {
    left: auto;
    right: 5px;
  }
}