#block-newsletter-newsletter-signup,
#block-db-common-right-top-navigation ul li a.gallery,
.brands-company .views-field-field-products {
  display: none;
}


#content {
  margin: 0 8px;
}
.two-66-33 > .region-two-66-33-first .region-inner {
  padding-right: 4%;
}

.view-id-showroom.view-display-id-showroom .views-row {
  float: left;
  width: 47%;
  margin-right: 2%;
}
.view-id-showroom.view-display-id-showroom .views-row.views-row-even {
  margin-right: 0px;
}
.view-showroom .views-row {
  width: 48%;
  margin-left: 2%;
  float: left;
}
.view-showroom.view-display-id-related_showroom .views-row {
  width: 100%;
  margin-left: 0;
  float: left;
}

.view-latest-news .views-row {
  width: 31%;
}
.view-latest-news .views-row.view-row-article {
  width: 31%;
}

.related-content .mod.box.ad-list,
.pane-quicktabs-popular .mod.box.ad-list {
  width: 33%;
}
.view-id-indsustry_news_block .view-content {
  width: 64%;
  margin: 0;
  float: right;
}
.view-id-indsustry_news_block .view-footer {
  width: 64%;
  margin: 0;
  float: right;
}

/* --- nodes --- */
.node-type-partner-profile .two-66-33 > .region-two-66-33-second {
  width: 34%;
  float: right;
}
.node-type-partner-profile .two-66-33 > .region-two-66-33-first {
  width: 65%;
}
.node-type-partner-profile #content .region-two-66-33-second .pane-views  h2.pane-title:after, 
.node-type-partner-profile .region-two-66-33-second .node h2:after {
  border-top-color: #526688;
}
.node-type-partner-profile #content .region-two-66-33-second .pane-views  h2.pane-title, 
.node-type-partner-profile .region-two-66-33-second .node h2 {
  background: #526688;
  color: #fff;
}
/* --- end nodes --- */

