/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */



h1,
h1 a {
  font-size: 50px;
  line-height: 52px;
  margin: 0 0 35px 0;  
}

#top_nav_bar {
  min-width: 1200px;
}
#page-wrapper {
  /*min-width: 1200px;*/ 
}

#block-db-common-left-menu-link .content {
  margin: 0 0 0 34px;  
}

#block-db-common-footer-content  .payoff {
  float: right;
  margin-top: -20px;
}


/* --- mods --- */
.mod.quote .bd, 
.mod.quote p {
  font-size: 25px;
}
.mod.quote .source {
  font-size: 13px; 
}
.mod.quote.middle {
  width: 100%;
}
.mod.quote.left {
  float: left;
  margin-right: 60px;  
}
.mod.quote.right {
  float: right;
  margin-left: 60px;  
  margin-right: 30px;
}
.mod.image {
  margin: 0 20px 20px 0;
}
.mod.image.left {
  float: left;
  margin: 0 20px 20px 0;
}
.mod.image.right {
  float: right;  
  margin-left: 20px;
  margin-right: 0px;
}
.mod.image.middle {
  width: 100%;
}
.mod.image.middle img {
  margin: 0 auto;
  display: block;
}
.mod.facts.left {
  float: left;
  margin: 0 20px 20px 0;
}
.mod.facts.right {
  float: right;  
  margin-left: 20px;
  margin-right: 0px;
}
/* --- end mods --- */

/* --- node ---*/
.node.node-full {
  font-size: 16px;  
}
.node.node-event-post .field-name-field-teaser,
.node .field-name-field-content {
  margin-right: 20px;
}
.node-type-event-post .field-name-field-logo {
  max-width: 160px;
}
/* --- end node ---*/


.view-showroom.view-display-id-related_showroom .views-field-field-profile-picture {
  height: 150px;
  overflow: hidden;
}
.view-showroom.view-display-id-related_showroom .views-field-field-profile-picture img {
  margin-top: -15px;
}
.view-id-showroom.view-display-id-showroom .views-row {
  float: left;
  width: 31.3%;
}
.view-id-showroom.view-display-id-showroom .views-row.views-row-3, 
.view-id-showroom.view-display-id-showroom .views-row.views-row-6,
.view-id-showroom.view-display-id-showroom .views-row.views-row-9,
.view-id-showroom.view-display-id-showroom .views-row.views-row-12 {
  margin-right: 0px;
}


.block-slider-carousel {
  margin-left: -35px;
  text-align: center;
/*  width: 1200px;*/
  background: #f3f3f3;
  padding: 10px 0;
}
.block-slider-carousel .rs-carousel-item {
    position: relative;
}

/* --- job --- */
.frontpage-jobs .views-row {
  float: left;
  width: 49%;
  overflow: hidden;
}
.frontpage-jobs .views-row-odd {
  margin-right: 2%;
}
.node-type-partner-profile .frontpage-jobs .views-row,
.node-type-partner-profile .frontpage-jobs .views-row-odd {
  float: none;
  width: auto;
  margin-right: 0;
}
/* --- end job --- */

.event-block .field-name-field-logo + .group-right {
  margin-left: 160px;
}
.event-block .views-row {
  width: 48%;
  float: left;
}
.event-block .views-row.views-row-odd {
  margin-right: 3.5%;
  clear: both;  
}
.node-type-partner-profile #content .region-two-66-33-second .pane-views  h2.pane-title:after, 
.node-type-partner-profile .region-two-66-33-second .node h2:after {
  border-top-color: #526688;
}
.node-type-partner-profile #content .region-two-66-33-second .pane-views  h2.pane-title, 
.node-type-partner-profile .region-two-66-33-second .node h2 {
  background: #526688;
  color: #fff;
}

.node-type-partner-profile .two-66-33 > .region-two-66-33-second {
  width: 23.5%;
  float: right;
}
.node-type-partner-profile .two-66-33 > .region-two-66-33-first {
  width: 74.5%;
}

.left-share-block .field-name-field-add-this.open {
  width: 100%;
  background: none;
  height: 40px;
}