.c100 {
	overflow: hidden;
}	
.backend_left {
	width: 38%;
	margin-right: 5px;
	float: left;
}

.backend_center {
	width: 28%;
	margin-right: 5px;
	float: left;
}

.backend_right {
	width: 28%;
	float: left;
}
