/*!
 * ParamQuery Select v1.1.0
 *
 * Copyright (c) 2015 Paramvir Dhindsa (http://paramquery.com)
 * Released under GNU General Public License v3
 * http://paramquery.com/license
 *
 */
.pq-select-optgroup{
    font-weight:bold;
    margin:0px 3px;
}
div.pq-select-button{
    font-size: 14px;
    color: #666;
    height: 40px;
    line-height: 40px;
    background: url('../../images/icons.png') no-repeat 101.6% -289px #fff;
    border-radius: 0;
    padding: 0;
    margin: 0;
    text-indent: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px #eeeeee solid;
}
.pq-select-button > .ui-icon{
    float:right;
}
.pq-select-single .pq-select-text,.pq-select-single .pq-select-item-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.pq-select-single .pq-select-item-text{
    display:inline-block;
    margin-bottom: -5px;
}
.pq-select-popup-cont{
    position:absolute;
    z-index:10000;
    overflow: visible;
    display:none;
    outline:none;
}
.pq-select-popup{
    overflow:visible;
    outline:none;
    border-radius: 0;
    border: 1px #eaeaea solid;
}
.pq-select-shadow-fix{
    height:8px;
    width:120%;
    margin-left:-10%;
}
.pq-select-popup *{
    outline: none;
}
.pq-select-all{
  position: relative;
  margin-bottom: 1px;
  display:block;
  cursor: pointer;
}
.pq-select-all > .ui-icon-close{
  float:right;
}
.pq-select-search-div{
  position:relative;
  left: 0px;
  margin-bottom: 1px;
  border-radius: 0;
  padding: 10px 0 10px 5px !important;
  font-size: 13px;
  border-bottom: 1px #eaeaea solid;
}
.pq-select-search-input{
  padding: 1px 2px;
  border-width:0px;
}
.pq-select-search-div > .ui-icon{
  position:absolute;
  right:0px;
  top:0px;
  display: none;
}
.pq-select-search-highlight{
  text-decoration:underline;margin:0;padding:0;
}
.pq-select-menu{
  max-height:240px;
  overflow:auto;
  position: relative;
}
div.pq-select-menu > .pq-select-option-label{
  display:block;
  min-height: 18px;
  border:1px solid transparent;
  position: relative;
}
div.pq-select-menu label {
	padding: 10px 0 10px 45px !important;
  font-size: 13px;
  border-bottom: 1px #eaeaea solid !important;
  text-transform: uppercase;
	list-style: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;  
	white-space: nowrap;
  background: url('../../images/checks.png') no-repeat 20px 10px;
  font-weight: normal;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
}
div.pq-select-menu label.pq-state-select {
  background: url('../../images/checks.png') no-repeat 20px -56px;
  border: none;
  border-bottom: 1px #eaeaea solid;
}
div.pq-select-menu label input[type="checkbox"] {
  display: none;
}
.pq-select-option-label > span{
  margin-left: 2px;
  padding:2px 0px;
}
.pq-select-option-label > span.pq-left-group{
  margin-left: 13px;
}
.pq-select-option-label > input, .pq-select-all > input{
  position:relative;
  top:1px;
  margin:2px 2px 0px 2px;
}
.pq-select-search-input{
  padding: 1px 2px;
  text-transform: uppercase;
  border-width:0px;
  text-indent: 15px;
}
.pq-select-item{
  padding:2px 0px 2px 3px;
  margin: 0px;
  line-height: 16px;
  display:inline-block;
  background: #fff;
  border-radius: 0;
  border-color: #eaeaea;
  margin-right: 3px;
}
.pq-select-item > .ui-icon-close{
    float: right;
}