
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #666666;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
}
a,
a:hover,
a:focus,
a:active {
  color: #ed7163;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
